@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic'
body{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.top{
  padding: 20px 0;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-bl{
  background: #bebebe;
  padding: 15px;
}
.top-bl .cart{
  float: right;
}
#sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#sidebar ul li{
  padding: 5px 10px;
}
#sidebar ul li.selected{
  background: #0095ff;
  color: white;
  border-radius: 3px;
}
#sidebar ul li.selected a{
  color: white;
}
.items{
  margin-top: 20px;
}
.item{
  text-align: center;
  margin-bottom: 30px;
}
.item a img{
  margin-bottom: 15px;
}
.product-detail{
  margin-top: 40px;
}
.price{
  font-weight: 600;
  font-size: 20px;
}
.product-detail h2{
  font-size: 18px;
}
